div.form{
	border-style: double;
	padding: 50px;
}
table.form{
		margin:0px auto;
		border: none;
		font-family: 標楷體;
		width: 85%;
		height: 10px;
		margin:0px auto;
}
.font
{
	color:red; 
	font-size:30px;
}
td{
		font-family: 微軟正黑體;
		font-weight: bold;
		text-align: center;
		padding-top: 7px;
		padding-bottom: 7px;
		font-size:20px;
}
.parallax
{
	background-image:url( '../images/form.jpg' );
	min-height: 800px;
	background-attachment: fixed;
	background-size: cover;
}
h2
{
	color:#fff; 
	font-size:30px; 
	text-align:center; 
	background:rgba(0,0,0,0.5); 
	padding:50px;
}