@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
			div.member{
				columns: 4;
				column-rule: silver solid 1px;
				outline :silver solid 1px;
				border-radius:25px;
			}
			h1{
				-webkit-column-break-before: always;
				font-family: 'Noto Sans TC', sans-serif;
				font-weight: 800;
				background-color: white;
				opacity: 0.5;
	
			}
			p{
				font-family: 'Noto Sans TC', sans-serif;
				font-weight: 800;
				font-size: 25px;
				padding: 10px 10px 10px 10px;
			}
			img.phchange{
				height: 200px;
				width: 150px;
			}
		.parallax{
			background: url("http://oia.cycu.edu.tw/upload/workbench/images/555.jpg")center center no-repeat;
			min-height: 800px;
			background-attachment: fixed;
				background-size: cover;
		}
		h2{
			color:#fff; 
			font-size:30px; 
			text-align:center; 
			background:rgba(0,0,0,0.5); 
			padding:50px;
		}